.button {
	display: flex;
	height: 50px;
	padding: 0 !important;
	background-color: #41bec7 !important;
	border: none;
	outline: none;
	border-radius: 5px;
	overflow: hidden;
	font-family: "Quicksand", sans-serif;
	font-size: 16px;
	font-weight: 500;
	cursor: pointer;
    border-color: #23b8c2 !important;
}

.button:hover {
	background-color: #214c9d !important;
}

.button:active {
	background-color: #286d84 !important;
}

.button__text,
.button__icon {
	display: inline-flex;
	align-items: center;
	padding: 0 24px;
	color: #fff;
	height: 100%;
}

.button__icon {
	font-size: 1.5em;
	background: rgba(0, 0, 0, 0.08);
}


.table{
    border-radius: 5px;
}